/* .image {
  /* zoom: 0.7;} */

.Card {
  box-shadow: 3px 2px 20px black;
  transition: transform 0.5s;
  padding-right: 5px;
  max-width: 200px;
  margin-bottom: 2em;
}

.Card:hover {
  transform: scale(1.05);
}

/* @media (max-width: 500px) {
  .image {
    zoom: 1.5;
    max-width: 500px;
  }
} */

@media (max-width: 400px) {
  .Card {
    max-width: 150px;
    width: 300px;
    font-size: small;
  }
}
