/* .image {
  /* zoom: 0.7;} */

.Card {
  /* box-shadow: 15px 15px 10px black; */
  transition: transform 0.2s;
  /* padding-right: 5px; */
  width: 200px;
  /* height: 350px; */
  /* margin-bottom: 2em; */
  margin: 1em;
}

.Card:hover {
  transform: scale(1.05);
}

.title {
  padding: 5px;
}

/* @media (max-width: 500px) {
  .image {
    zoom: 1.5;
    max-width: 500px;
  }
} */

@media (max-width: 400px) {
  .Card {
    max-width: 150px;
    width: 300px;
    font-size: small;
  }
}
